:root {
  --title-color: #9AD2DE;
  --main-color-font: #000;
  --second-color-font: #73A6B1;
  --third-color-font: #3D8C9D;
  --main-color-background: #F5F5F5;
  --second-color-background: #F1FDFF;
  --third-color-background: #F2FEFF;
  --footer-color-background: #F9FADF;
  --color-button: #7AE5FD;
}

body {
  width: 1240px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 96.9%;
  color: var(--main-color-font);
  background-color: var(--main-color-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Header */
header {
  width: 1440px;
  height: 729px;
  background-color: var(--second-color-background);
  background-image: url(../images/medium-shot-woman-holding-ukranian-flag\ 1.jpg), url(../images/vector.png);
  background-repeat: no-repeat;
  background-position:right;
  background-blend-mode: multiply;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 590px;
}

.header-logo {
  border-radius: 50%;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 56px;
  font-size: 18px;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 28px;

  width: 208px;
  height: 59px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 96.9%;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-color-font);
  background: var(--color-button);
  border-radius: 87px;
}
h1 {
font-weight: 800;
font-size: 93px;
line-height: 94.9%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--title-color);
margin: 72px 642px 64px 100px;
}
.section-description {
  font-size: 20px;
  line-height: 120%;
  margin: 0 856px 156px 100px;
}
/* MAIN */
.main-section {
  width: 1240px;
  margin: 144px, 68px, 0px, 132px;
  text-align: center;
}
.main-section-title {
  font-size: 60px;
line-height: 94.9%;
letter-spacing: -0.02em;
text-transform: uppercase;
}
.main-section-discription {
  font-size: 27px;
}
.main-section-text {
  font-size: 20px;
  line-height: 120%;
  color: var(--second-color-font);
}
h3 {
  font-weight: 400;
  font-size: 46px;
line-height: 94.9%;
letter-spacing: -0.02em;
text-transform: uppercase;
}
.main-section-item {
  display: flex;
  flex-direction: row;
  
}
